{% with summary = {"title": "Aging WIP", "headline": data.headline} %}
  {% include "_partials/metric_summary.html.jinja" %}
{% endwith %}
{% with mode = 'tile', data = data %}
  {% include "_partials/aging_tile.html.jinja" %}
{% endwith %}
